<<<<<<< HEAD
<<<<<<< HEAD
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/')| My Movie App
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto 
        li.nav-item   
          a.nav-link(href='/')| Home 
        li.nav-item   
          a.nav-link(href='/search')| Search 
        li.nav-item   
          a.nav-link(href='/WatchList') Watch List
        li.nav-item
          a.nav-link(href='/random') Choose for Me
        li.nav-item   
          a.nav-link(href='/about') About 
=======
nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href='/')| Pug Templates
=======
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  a.navbar-brand(href='/')| My Movie App
>>>>>>> adf1d25 (update homepage and overall style)
  button.navbar-toggler(type='button' data-toggle='collapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  div.collapse.navbar-collapse
    ul.navbar-nav.mr-auto 
      li.nav-item   
        a.nav-link(href='/')| Home 
      li.nav-item   
        a.nav-link(href='/search')| Search 
      li.nav-item   
        a.nav-link(href='/about')| About 
      li.nav-item   
        a.nav-link(href='/WatchList') Watch List
      li.nav-item
        a.nav-link(href='/random') Choose for Me
>>>>>>> f86784e (randomize from movie or tv or all)
