doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      div.d-flex.flex-column.justify-content-center
        h1.mx-auto.pe-2.mb-5.text-body.highlighted-text #{heading}    
        div.mx-auto.mt-1
          h5.mx-auto.w-75.text-center.p-2.lh-base This is a application that you can obtain moive or tv show information. You can use this applilcation to find what and where to watch, and make a list of your own. This web application created by Cheng Lin, Tram Vuong, and Viktoriya Petrova for a full stack web development class to show our abilities to collaborate on a full stack project.
        div.mx-auto
          h1.highlighted-text.text-body.pe-2.my-5 Powered By
        div.mx-auto.mt-1
          div.d-flex.flex-column.poweredBy
            div
              a.link-secondary(href='https://expressjs.com/')
                h4 Express
            div
              a.link-secondary(href='https://getbootstrap.com/')
                h4 Boostrap
            div
              a.link-secondary(href='https://www.mongodb.com/')
                h4 MongoDB
            div
              a.link-secondary(href='https://api.watchmode.com/')
                h4 Watchmode
            div
              a.link-secondary(href='https://www.omdbapi.com/')
                h4 OMDb
        div.mx-auto
          h1.highlighted-text.text-body.pe-2.my-5 The Team
        div.mx-auto.mt-1
<<<<<<< HEAD
<<<<<<< HEAD
          div.d-flex.flex-column.flex-md-row.flex-wrap
=======
          div.d-flex.flex-column.flex-lg-row
>>>>>>> 456b1a4 (about page)
=======
          div.d-flex.flex-column.flex-md-row.flex-wrap
>>>>>>> b4a5bbd (minor html style fix)
            div.nameCard
              div.d-flex.flex-column
                h3.text-body.ps-1 Cheng Lin
                a(class="githubLink text-decoration-none link-secondary" href='https://github.com/cchlin')
                  i.bi.bi-github
<<<<<<< HEAD
<<<<<<< HEAD
                    |  cchlin
                a(class="githubLink text-decoration-none link-secondary" href='mailto:chlin@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  chlin@pdx.edu
=======
                    |  Github: cchlin
                a(class="githubLink text-decoration-none link-secondary" href='mailto:chlin@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  Email: chlin@pdx.edu
>>>>>>> 456b1a4 (about page)
=======
                    |  cchlin
                a(class="githubLink text-decoration-none link-secondary" href='mailto:chlin@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  chlin@pdx.edu
>>>>>>> b4a5bbd (minor html style fix)
            div.nameCard
              div.d-flex.flex-column
                h3.text-body.ps-1 Tram Vuong
                a(class="githubLink text-decoration-none link-secondary" href='https://github.com/vuong2-pdx')
                  i.bi.bi-github
<<<<<<< HEAD
<<<<<<< HEAD
                    |  vuong2-pdx
                a(class="githubLink text-decoration-none link-secondary" href='mailto:vuong2@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  voung2@pdx.edu
            div.nameCard
              div.d-flex.flex-column
                h3.text-body.ps-1 Viktoriya Petrova
                a(class="githubLink text-decoration-none link-secondary" href='https://github.com/ViktoriyaPetrova')
                  i.bi.bi-github
                    |  ViktoriyaPetrova
                a(class="githubLink text-decoration-none link-secondary" href='mailto:vpetrova@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  vpetrova@pdx.edu
=======
                    |  Github: vuong2-pdx
=======
                    |  vuong2-pdx
>>>>>>> b4a5bbd (minor html style fix)
                a(class="githubLink text-decoration-none link-secondary" href='mailto:vuong2@pdx.edu')
                  i.bi.bi-envelope-fill
                    |  voung2@pdx.edu
            div.nameCard
              div.d-flex.flex-column
                h3.text-body.ps-1 Viktoriya Petrova
                a(class="githubLink text-decoration-none link-secondary" href='https://github.com/ViktoriyaPetrova')
                  i.bi.bi-github
                    |  ViktoriyaPetrova
                a(class="githubLink text-decoration-none link-secondary" href='mailto:vpetrova@pdx.edu')
                  i.bi.bi-envelope-fill
<<<<<<< HEAD
                    |  Email: vpetrova@pdx.edu
>>>>>>> 456b1a4 (about page)
=======
                    |  vpetrova@pdx.edu
>>>>>>> b4a5bbd (minor html style fix)
    include includes/footer.pug