//- Viktoriya Petrova @ViktoriyaPetrova
//- Deleted Movie Page

doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      img.mx-auto.d-block(src="/img/Success.png" alt="Green Check Mark img" width='150' height='150')
      h1.text-center.mt-2 Movie Was Deleted Successfully!
      div.d-block.text-center.mt-4
        a.btn.btn-primary.m-1(href="/WatchList") Return To Your Watch List