//- Viktoriya Petrova @ViktoriyaPetrova
//- Error page

doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1.text-center Oops!
      img.mx-auto.d-block(src="/img/TV-rainbow-screen.png" alt="TV rainbow screen img" width='136' height='200')
      h2.mt-3.text-center #{err}
