doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
<<<<<<< HEAD
      main.carousel-container
        #recentTitlesCarousel.carousel.slide(data-bs-ride='carousel')
          .carousel-indicators
            button.active(type='button' data-bs-target='#recentTitlesCarousel' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
            button(type='button' data-bs-target='#recentTitlesCarousel' data-bs-slide-to='1' aria-label='Slide 2')
            button(type='button' data-bs-target='#recentTitlesCarousel' data-bs-slide-to='2' aria-label='Slide 3')
          .carousel-inner
            .carousel-item.active
              .col.text-center
                h1
                  | Find your favorite 
                  span.highlighted-text  TV shows 
                  | here.
              img.d-block(src='img/wednesday-tv-show.jpg' alt='Wednesday TV show')
              .carousel-caption.d-none.d-md-block
                a.btn.btn-lg.tv-show-button(href='/search' role='button' aria-pressed='true') Watch Wednesday on streaming
            .carousel-item
              .col.text-center
                h1
                  | Find your favorite 
                  span.highlighted-text  movies 
                  | here.
              img.d-block(src='img/nope-movie.jpg' alt='Nope Movie')
=======
      main.container
        #recentTitlesCarousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#recentTitlesCarousel' data-slide-to='0')
            li(data-target='#recentTitlesCarousel' data-slide-to='1')
            li(data-target='#recentTitlesCarousel' data-slide-to='2')
          .carousel-inner
            .carousel-item.active
              .col.text-center
                h2
                  | Find your favorite 
                  span.highlighted-text  TV shows 
                  | here.
              img.d-block.w-100(src='img/wednesday-tv-show.jpg' alt='Wednesday TV show')
              .carousel-caption.d-none.d-md-block
                a.btn.btn-lg.btn-secondary.tv-show-button(href='/search' role='button' aria-pressed='true') Watch Wednesday on streaming
            .carousel-item
              .col.text-center
                h2
                  | Find your favorite 
                  span.highlighted-text  movies 
                  | here.
              img.d-block.w-100(src='img/nope-movie.jpg' alt='Nope Movie')
>>>>>>> adf1d25 (update homepage and overall style)
              .carousel-caption.d-none.d-md-block
                a.btn.btn-lg.btn-secondary.movie-button(href='/search' role='button' aria-pressed='true') Watch Nope on streaming
            .carousel-item
              .col.text-center
<<<<<<< HEAD
                h1
                  | Find your favorite 
                  span.highlighted-text  documentaries 
                  | here.
              img.d-block(src='/img/good-night-oppy-documentary.jpg' alt='Good Night Oppy Documentary')
              .carousel-caption.d-none.d-md-block
                a.btn.btn-lg.btn-secondary.documentary-button(href='/search' role='button' aria-pressed='true') Watch Good Night Oppy on streaming
          button.carousel-control-prev(type='button' data-bs-target='#recentTitlesCarousel' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden.text Previous
          button.carousel-control-next(type='button' data-bs-target='#recentTitlesCarousel' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden.text Next
=======
                h2
                  | Find your favorite 
                  span.highlighted-text  documentaries 
                  | here.
              img.d-block.w-100(src='/img/good-night-oppy-documentary.jpg' alt='Good Night Oppy Documentary')
              .carousel-caption.d-none.d-md-block
                a.btn.btn-lg.btn-secondary.documentary-button(href='/search' role='button' aria-pressed='true') Watch Good Night Oppy on streaming
          a.carousel-control-prev(href='#recentTitlesCarousel' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#recentTitlesCarousel' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
>>>>>>> adf1d25 (update homepage and overall style)
    include includes/footer.pug