doctype html
html
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
      h1 #{heading}    
      h2 #{subheading}      
      section.text Welcome to the #{title} page!
      img(src='https://placekitten.com/600/300' alt='image of a kitten' width='600' height='300')
      section.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur eos facilis blanditiis ipsa? Ullam odio natus molestiae, harum ipsum quas, ducimus velit tempora perspiciatis accusantium, voluptatem nemo cum commodi sit.Sequi dolorem labore atque dolorum unde hic explicabo nisi minus laboriosam veniam libero, accusantium totam odio, eaque quia ea natus dolore itaque minima. Officia quo perferendis, nihil explicabo deserunt dolorem?Autem deleniti minima ipsam impedit, dolorem accusamus doloremque. Dolorum mollitia ullam, perspiciatis dolor beatae exercitationem nulla officia reiciendis optio fugit. Perferendis dolor fugit, natus quidem ratione corrupti cupiditate enim provident.Ex neque fuga at soluta quibusdam perspiciatis, totam, pariatur ducimus unde rem dignissimos quod, repellendus maiores! Enim, illum totam, quisquam nisi suscipit illo deleniti explicabo accusamus repudiandae natus recusandae perspiciatis.Non perspiciatis facere aspernatur et vitae sapiente inventore autem, dolor, ad tenetur tempora similique perferendis cumque nulla iste deserunt. In earum cum illum sequi voluptatibus sapiente! Soluta possimus nihil expedita!Unde suscipit soluta, praesentium temporibus nisi voluptates commodi sit reiciendis vero beatae laudantium dolorem nihil repellat, iste debitis iusto eum odit quidem. Unde praesentium sequi, deleniti reiciendis velit perspiciatis dolores?
    include includes/footer.pug