doctype html
html
  include includes/head.pug
  header
    include includes/navbar.pug
  main.container
    body
      h3.card-title #{title}
        if year
        |  (#{year})
      div.card
        div.d-flex.flex-lg-row.flex-column.align-content-stretch
          img.d-block.mx-2.my-2.align-self-center(src=poster alt='poster' height='417' width='278')
          div.ratio.ratio-16x9.my-2.mx-2.align-self-xxl-stretch
            iframe.embed-responsive-item(src=trailer title='trailer' allowfullscreen)
        div.d-flex.flex-row
          button source link
          button source link
          button source link
      input.btn.btn-primary.back(type="button" value="Go Back")
      script(src="/js/randDisplay.js")
  include includes/footer.pug