//- Viktoriya Petrova @ViktoriyaPetrova
//- Display all saved movies pug page

doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
        h1.text-center #{heading}
        section.flex-container#results 
            each item in results 
                div.figure.m-4
                  a(href=`WatchList/${item.movieID}`)
                    img.poster(src=item.poster alt=`movie poster for ${item.title}` width='185' height='278')
    include includes/footer.pug