doctype html
html
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    main.container
        h1 #{heading}
        section.flex-container#results 
            each item in results 
                div.figure.m-4
                  a(href=movieID)
                    img(src=item alt='image of a kitten' width='200' height='300')
    include includes/footer.pug