:root {
  --green: #008000;
  --grey: #333333;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0.5em;
}

h1,
h2,
h3,
h4 {
  color: var(--green);
}

.container {
  margin-top: 4rem;
  min-width: 450px;
}

.text {
  margin-top: 0.5em;
  color: var(--grey);
  font-size: larger;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
}

.footer > .copyright {
  margin: 1em;
}

/* watchList.pug styles*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  width: 200px;
  height: 60%;
}

/* movieDisplay.pug styles */

/* Stars */
.input {
  display: none;
}
.rating-container {
  display: inline-block;
  font-size: 20px;
}
.star-icon {
  float: right;
  cursor: pointer;
  color: #f9b008;
}
.star-icon:hover:before,
.star-icon:hover ~ .star-icon:before,
.input:checked ~ .star-icon:before {
  content: "\f005";
}

/*Edit button*/
.edit-container {
  display: inline-block;
  font-size: 20px;
}
.pencil-icon {
  float: right;
  cursor: pointer;
}
