:root {
  --green: #008000;
  --grey: #333333;
  --dark-green: #0a6c0a;
  --dark-blue: #0b47c7;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 5em;
}

h1,
h2 {
  color: var(--dark-green);
}

.container {
  margin-top: 2em;
  min-width: 450px;
}

.text {
  margin-top: 0.5em;
  color: var(--grey);
  font-size: larger;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer > .copyright {
  margin: 1em;
}

.btn-primary {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

/* index.pug styles */
.carousel-item h1, h2 {
  color: #222020;
}

.carousel-item .btn {
  box-shadow: 0 0 5px #fdf9f9;
  border-radius: 5px;
}

.tv-show-button{
  background-image: linear-gradient(to right, #f5b624 0%, #fda085 51%, #f5b624 100%);
  color: #222020
}

.movie-button{
  background-image: linear-gradient(to right, #34559e 0%, #042e8b 51%, #34559e 100%);
  color: #fdf9f9;
}

.documentary-button{
  background-image: linear-gradient(to right, #b55177 0%, rgb(139, 26, 96) 51%, #b55177 100%);
  color: #fdf9f9;
}

/* highlightted text courtesy of : https://medium.com/@mattlistor/highlight-effect-using-css-204ab4590480 */
.highlighted-text {
  position: relative;
}

.highlighted-text:after {
  background-color: #ffe359;
  content: " ";
  height: 50%;
  position: absolute;
  left: 8px;
  margin-left: -1rem;
  top: 45%;
  width: calc(100% + 0.55rem);
  z-index: -1;
}

/* watchList.pug styles*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.figure {
  width: 200px;
  height: 60%;
}

/* movieDisplay.pug styles */

/* Stars */
.input {
  display: none;
}
.rating-container {
  display: inline-block;
  font-size: 20px;
}
.star-icon {
  float: right;
  cursor: pointer;
  color: #f9b008;
}
.star-icon:hover:before,
.star-icon:hover ~ .star-icon:before,
.input:checked ~ .star-icon:before {
  content: "\f005";
}

/* searchResults.pug styles */
.card {
  max-width: 90%;
  border-width: 0.1em;
  margin: 0px 0px 0px 0px;
  color: #404040;
  background-color: #eef4f7;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card img {
  border-radius: rounded;
  max-width: 100%;
}

.card-title {
  font-family: Georgia, Helvetica, sans-serif;
}

.card-body {
  font-size: 0.8em;
  padding: 20px 20px 5px 5px;
  height: 100%;
}

.card-wrapper {
  height: 85%;
}

.card-text {
  margin-bottom: 2em;
}

.type-bar {
  top: 0px;
  right: 0px;
  position: relative;
  float: right;
}

i::before{
  font-size: 1em;
  padding-left: 7px;
}

.card-wrapper .sources-bar {
  /* top: 2em; */
  position: relative;
}

.sources-bar .btn {
  margin: 2px 2px 2px 2px;
}

/*Edit button*/
.edit-container {
  display: inline-block;
  font-size: 20px;
}
.pencil-icon {
  float: right;
  cursor: pointer;
}
